[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.col-s-3 {
  /*margin-top: 160px;
  margin-left: 100px; 
  padding-bottom: 30px; 
  margin-right: 550px;*/ 
  margin-top: 160px;
  margin-left: 30%;
  margin-right: 30%;
  
  padding-bottom: 30px; 
  width: 40%;
  border:none; 
  box-shadow: 0 9px #999; 
  border-radius: 15px; 
  border:solid; 
  text-align: center;
  background-color: #4CAF50;
}

body {
	background: #BDC3C7;  /*45484d*/
}
button {
	cursor: pointer;
	padding: 15px 32px;
	text-align: center;
	margin: 10px 0px 0px 700px;
	cursor: pointer;
	background-color: #4CAF50;
}
button:hover {
	opacity: 0.8;
}

[class*="BT"]{width:150px;display:block;position:absolute;padding:0;border-color:#BDC3C7;margin:0 0 10px;line-height:6px;border-style:solid;left:50%;margin-left:-75px;height:40px;}
[class*="BT"] hover{position:absolute;z-index:5;width:246px;margin-left:-370px;  transition: all 0.3s ease-out 0s;    background: -moz-linear-gradient(45deg,  rgba(255,255,255,0) 0%, rgba(135,135,135,0.38) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(135,135,135,0.38)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(135,135,135,0.38) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(135,135,135,0.38) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */background: -ms-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(135,135,135,0.38) 50%,rgba(255,255,255,0) 100%); /* IE10+ */background: linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(135,135,135,0.38) 50%,rgba(255,255,255,0) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  height:60px;margin-top:-30px;}
[class*="OH"]{overflow:hidden;}
[class*="BR"]{border-width:2px;}
[class*="R6"]{border-radius:6px;}
[class*="NF"]{background:transparent;}
[class*="BT"]:hover hover{  margin-left:123px;}
[class*="TU"]{text-transform:uppercase;}
[class*="PT"]{cursor:pointer;}
[class*="BT"] span{  position:absolute;  width:200px;  margin-left:-100px;  z-index:3;}
canvas{margin: 0;padding: 0;display:block;position:absolute;margin-top:-30px;}

html,body{
  heigth:100%;width:100%;min-height:100%;position:relative;oberflow:hidden;
  color:#fff;
}
body {
  background: #BDC3C7; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #BDC3C7 0%, #BDC3C7 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#BDC3C7), color-stop(100%,#BDC3C7)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #BDC3C7 0%,#BDC3C7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #BDC3C7 0%,#BDC3C7 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #BDC3C7 0%,#BDC3C7 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #BDC3C7 0%,#BDC3C7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BDC3C7', endColorstr='#BDC3C7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  text-align:center;
}